<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kodemakers.charity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.CharityDetailsActivity" />
        <activity android:name=".activities.UsersListActivity" />
        <activity android:name=".activities.UpdateCharityDetailsActivity" />
        <activity android:name=".activities.ContributorProfileActivity" />
        <activity android:name=".activities.StoriesActivity" />
        <activity android:name=".activities.AddNewStoryActivity" />
        <activity android:name=".activities.StaffListActivity" />
        <activity android:name=".activities.AccountDetailsActivity" />
        <activity android:name=".activities.DonationActivity" />
        <activity android:name=".activities.IntroSteppersActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.DonationDetailActivity" />
        <activity android:name=".activities.AddIntroPageActivity" />
        <activity android:name=".activities.NotificationActivity"></activity>
    </application>

</manifest>